* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    text-align: center;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    color: inherit
}

a:focus,
a:hover {
    color: hsl(208, 11%, 55%);
}

/* TYPOGRAPHY */

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.card-subtitle {
    color: hsl(208, 11%, 55%);
}

.footer {
    color: white;
    font-weight: 400;
}

/* Layout*/

.hero-wrapper {
    background-image: url(./images/bg-hero-mobile.svg);
    background-color: hsl(193, 100%, 96%);
}

.hero {

    padding: 4em 2em 2em;
}

header {
    position: absolute;
}

.header-logo {
    color: black;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

/* card section layout */
.card-section {
    padding: 4em 1em;
}

.card {
    padding: 3em;
    /* border: 1px solid hsl(208, 11%, 55%); */
    border-radius: 20px;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px hsl(208, 11%, 55%);
}


/* Footer layout*/
.footer {
    background-color: hsl(192, 100%, 9%);
    text-align: left;
    padding: 2em;
}

.footer>* {
    margin: 0;
}

.footer p {
    margin: 0;
    width: 80%;
}

/* .footer>div {
    margin-bottom: 2em;
} */

.footer-info {
    display: flex;
    margin: 0;
    align-items: baseline;
    gap: 1em;
    margin-bottom: 1em;
}

.footer-links {
    display: flex;
    gap: 1em;
    flex-direction: column;
    margin: 4em 0;
}

.copyright {
    font-size: .7rem;
    text-align: center;
}

.attribution {
    font-size: .8rem;
    margin-top: 1em;
}

.attribution>p {
    margin-top: .5em;
    text-align: center;
}

/* Icons */
.icon-div {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.icon {
    border: 1px solid white;
    width: 38px;
    height: 38px;
    padding: .5em;
    border-radius: 100%;
    margin: 0 1em;
}

.fa-facebook-f,
.fa-instagram {
    text-align: center;
}

.icon-link {
    text-decoration: none;
    color: inherit;
}