* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
}

img {
    width: 100%;
    object-fit: cover;
}

/* TYPOGRAPHY */

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Layout*/

.hero-wrapper {
    background-image: url(./images/bg-hero-mobile.svg);
    background-color: hsl(193, 100%, 96%);
}

.hero {

    padding: 4em 2em 2em;
}

header {
    position: absolute;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}